.header-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.327);
    /* Fondo semi-transparente */
    backdrop-filter: blur(6px);
    /* Efecto blur moderno */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 2rem;
}

.header-text1,
.header-text2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #10847c;
    margin: 0;
    padding: 0.2rem 0.5rem;
}

.header-text2 {
    font-weight: 500;
    color: #333;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        border-radius: 8px;

    }

    .header-text2 {
        font-size: 1rem;
    }

    .header-text1 {
        font-size: 0.7rem;
    }
}