.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    /* background: radial-gradient(circle, rgba(76, 98, 124, 10), rgb(86, 108, 134), rgb(96, 118, 144)); */
    background-image: url('../images/background/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;

}

.weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.322);
    margin-top: 10%;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #6d6a6a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}

.icon {
    width: 20rem;
    padding: 3rem;
    opacity: 10;
}